<div class="col">
  <h1 i18n>{{ messages()["MahJong Practice"] }}</h1>
  <div *ngIf="isDev() === true">
    <h3>Generated Winning Set</h3>
    <div>
      <img
        *ngFor="let tile of tilesWinningHand()"
        class="tile"
        [src]="tile.asset"
        [attr.alt]="tile.num"
      />
    </div>
  </div>
  <div class="scoreboard">
    <p style="white-space: nowrap">
      <span> {{ messages()["Score"] }} {{ score() }} </span>
    </p>
    <div style="border-left: 1px solid #000; width: 1px"></div>
    <p style="width: 100%">
      <span> ⏰</span>
      <span #timebar class="timebar" [ngStyle]="timeBarStyle()"></span>
      <!-- <span class="timeupdate">+3</span>
      <span class="timeupdate">-3</span> -->
    </p>
  </div>
  <h3 i18n>{{ messages()["Hand tiles"] }}</h3>
  <div>
    <img
      *ngFor="let tile of tilesRemovedOne()"
      class="tile"
      [src]="tile.asset"
      [attr.alt]="tile.num"
    />
  </div>
  <div *ngIf="isDev() === true">
    <h3>Possible Winnings</h3>
    <div *ngIf="gameState() === 0">
      <img
        class="tile"
        *ngFor="let kv of mapPossibleWinnings().keys()"
        [src]="kv"
        [attr.alt]="kv"
      />
    </div>
  </div>

  <div *ngIf="gameState() !== 0 || isDev() === true">
    <div *ngFor="let key of mapPossibleWinnings().keys()">
      <img class="tile answers selected" [src]="key" [attr.alt]="key" />
      <span class="arrowemoji"> ➡️ </span>
      <span
        class="tilegroup"
        *ngFor="let group of mapPossibleWinnings().get(key)"
      >
        <img
          class="tile answers"
          *ngFor="let tile of group"
          [src]="tile.asset"
          [attr.alt]="tile.asset"
        />
      </span>
    </div>
  </div>

  <button
    *ngIf="gameState() === 1"
    style="margin-top: 20px; font-size: 2rem"
    (click)="startRound()"
  >
    <span style="size: 5rem">⏭️</span>
  </button>
  <div *ngIf="gameState() === 2">
    <p>
      <span>
        {{ messages()["Completed Rounds"] }}
        {{ rounds() - 1 }}
      </span>
      <span>
        {{ messages()["Score"] }}
        {{ score() }}
      </span>
    </p>
  </div>
  <button
    *ngIf="gameState() === 2"
    style="margin-top: 20px; font-size: 2rem"
    (click)="onClickRestart()"
  >
    <span style="size: 5rem">🔄</span>
  </button>

  <h3 i18n>{{ messages()["Please choose winning tile"] }}</h3>
  <div>
    <div *ngFor="let tiles of suitTiles()">
      <img
        *ngFor="let tile of tiles"
        class="tile choices"
        [src]="tile.asset"
        [attr.alt]="tile.num"
        (click)="onClickTile($event, tile)"
        [ngClass]="{ selected: selectedTiles().has(tile.asset) }"
      />
      <br />
    </div>
  </div>

  <dialog *ngIf="showInfoModal()" id="info-modal">
    <div
      style="
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.5rem;
        text-align: center;
      "
    >
      <p>
        {{ messages()["info1"] }}
      </p>
      <p>
        {{ messages()["info2"] }}
      </p>
    </div>
    <button style="font-size: 2rem" (click)="onClickStart()">▶️</button>
  </dialog>
  <dialog *ngIf="showResultModal()" id="info-modal">
    <div
      style="
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.5rem;
        text-align: center;
      "
    >
      <p>
        {{ messages()["Score"] }}
      </p>
      <p>
        {{ score() }}
      </p>
    </div>
    <button style="font-size: 2rem" (click)="onClickRestart()">▶️</button>
  </dialog>
</div>
